<div class="wrapper">
  <div class="dark-background">
    <div class="padding-1">
      Online Co-op by Cordelia
    </div>
  </div>

  <div class="white-background flex-container justify-content-center">
    <div class="fancy-header padding-1" style="line-height: 1.5em;">
      Online co-op is a digital shopping platform designed specifically with co-op's in mind.
    </div>
  </div>

  <div class="light-background">
    <div class="flex-container justify-content-center">
      <h1 class="fancy-h1 padding-lr-1" style="width: 100%">
        How it works </h1>
      <h2>
        Three user types with unique interfaces come together to create the smooth operation of your online store,
        enabling you to provide pick-up and delivery service to your customers.</h2>
    </div>
    <div class="card-deck padding-lrb-2">
      <mat-card class="deck-card">
        <mat-icon class="big-icon">calendar_today</mat-icon>
        <mat-card-title>Administrator</mat-card-title>
        <mat-card-content>
          Administrator interface allows custom pick-up and delivery scheduling
        </mat-card-content>
      </mat-card>
      <mat-card class="deck-card">
        <mat-icon class="big-icon">list</mat-icon>
        <mat-card-title>Employee</mat-card-title>
        <mat-card-content>
          Your employees utilize an intuitive tracking system to fill customer orders efficiently
        </mat-card-content>
      </mat-card>
      <mat-card class="deck-card">
        <mat-icon class="big-icon">shopping_basket</mat-icon>
        <mat-card-title>Customer</mat-card-title>
        <mat-card-content>
          Easy online ordering of items in your store for pick-up or delivery
        </mat-card-content>
      </mat-card>
    </div>
    <br>
  </div>
  <div class="white-background">
      <img class="image" mat-card-image src="../../assets/mockup.png" >
  </div>

  <div class="light-background">
    <div class="flex-container justify-content-center">
      <h1 class="fancy-h1 padding-1">
        Features </h1>
    </div>
    <div class="card-deck padding-lrb-2">
      <mat-card class="deck-card">
        <mat-card-title>Simple, modern user interface</mat-card-title>
        <mat-card-content>Creates easy, positive user experiences without an unpleasant learning curve
        </mat-card-content>
      </mat-card>
      <mat-card class="deck-card">
        <mat-card-title>Responsive web application</mat-card-title>
        <mat-card-content>Accessible from any wifi enabled device directly through the browser; now need to download
          anything
        </mat-card-content>
      </mat-card>
      <mat-card class="deck-card">
        <mat-card-title>Fully integrates your store</mat-card-title>
        <mat-card-content>We use your inventory data and branding to create your store online</mat-card-content>
      </mat-card>
      <mat-card class="deck-card">
        <mat-card-title>Secure transactions and storage</mat-card-title>
        <mat-card-content>Modern transaction processing and storage of user data keeps you and your customers safe
        </mat-card-content>
      </mat-card>
      <mat-card class="deck-card">
        <mat-card-title>Feature number five</mat-card-title>
      </mat-card>
      <mat-card class="deck-card">
        <mat-card-title>Feature number six</mat-card-title>
      </mat-card>
    </div>
  </div>

  <div class="dark-background flex-container justify-content-center">
    <div class="padding-1">
      some sort of footer
    </div>
  </div>
</div>
