<div class="dark-background">
  <div class="padding-1">
    Online Co-op by Cordelia
  </div>
</div>

<div class="white-background flex-container justify-content-center">
  <h1 class="fancy-h1 padding-1">
    Online co-op is a digital shopping platform designed specifically with co-ops in mind. </h1>
</div>

<div class="light-background">
  <div class="flex-container justify-content-center">
    <h1 class="fancy-h1 padding-1">
      How it works </h1>
  </div>
  <div class="card-deck padding-lrb-2">
    <mat-card class="deck-card">
      <mat-card-title>Administrator</mat-card-title>
      <mat-card-content>
        stuff about administrator mode
      </mat-card-content>
    </mat-card>
    <mat-card class="deck-card">
      <mat-card-title>Employee</mat-card-title>
      <mat-card-content>
        stuff about employee mode
      </mat-card-content>
    </mat-card>
    <mat-card class="deck-card">
      <mat-card-title>Customer</mat-card-title>
      <mat-card-content>
        stuff about customer mode
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="white-background">
  <div class="flex-container justify-content-center">
    <h1 class="fancy-h1 padding-1">
      Features </h1>
  </div>
  <div class="card-deck padding-lrb-2">
    <mat-card class="deck-card">
      <mat-card-title>Feature 1</mat-card-title>
      <mat-card-content>
        stuff
      </mat-card-content>
    </mat-card>
    <mat-card class="deck-card">
      <mat-card-title>Feature 2</mat-card-title>
      <mat-card-content>
        stuff
      </mat-card-content>
    </mat-card>
    <mat-card class="deck-card">
      <mat-card-title>Feature 3</mat-card-title>
      <mat-card-content>
        stuff
      </mat-card-content>
    </mat-card>
    <mat-card class="deck-card">
      <mat-card-title>Feature 4</mat-card-title>
      <mat-card-content>
        stuff
      </mat-card-content>
    </mat-card>
    <mat-card class="deck-card">
      <mat-card-title>Feature 5</mat-card-title>
      <mat-card-content>
        stuff
      </mat-card-content>
    </mat-card>
    <mat-card class="deck-card">
      <mat-card-title>Feature 6</mat-card-title>
      <mat-card-content>
        stuff
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="dark-background">
  <div class="padding-1">
    some sort of footer
  </div>
</div>
