.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

h1 {
  font-weight: normal;
  text-align: center;
}

.mat-button {
  font-weight: normal;
}

mat-toolbar {
  background-color: transparent;
}

mat-card{
  background-color:transparent;
  padding: 50px;
}

mat-card-title{
  text-align: center;
}

mat-card-subtitle{
  text-align: center;
}

.mat-card:not([class*=mat-elevation-z]){
  box-shadow:0px 0px 0px 0px transparent;
}

.flex-container{
  display: flex;
  justify-content: center;
}

.align-start{
  align-items: flex-start
}

.align-baseline{
  align-items: baseline;
}





