@media only screen and (max-width: 597px) {
  .responsive-bar{
    display: flex;
    flex-direction:column;
    justify-content: end;
    flex-wrap:wrap;
    align-items: flex-end;
  }

  .toolbar-mat-button {
    font-weight: bold;
    font-family: "freight-sans-pro",sans-serif !important;
    color: #2A2D34;
    font-size: x-small;
    line-height: 20px;

  }
}

.mat-button {
  font-weight: normal;
  font-family: "freight-sans-pro",sans-serif !important;
  color: #2A2D34;

}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

mat-toolbar {
  background-color: transparent;
  padding: 40px;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

h1 {
  font-weight: normal;
  text-align: center;
  color: #2A2D34;
}

mat-divider{
  border-top-color: rgba(42,45,52,0.2);
}

mat-card{
  color: #2A2D34;
  background-color:transparent;
}

mat-card-title{
  color: #2A2D34;
  text-align: center;
}

mat-card-subtitle{
  color: #2A2D34;
  text-align: center;
}

.mat-card:not([class*=mat-elevation-z]){
  box-shadow:0px 0px 0px 0px transparent;
}

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.align-start{
  align-items: flex-start
}

.align-baseline{
  align-items: baseline;
}
.align-center{
  align-items: center;
}

.accent{
  color: #439FD8
}

.accent-background{
  background-color: #439FD8;
  color: white;
}

.light-background{
  background-color: #EAEBEC
}

.white-background{
  background-color:white;
}

.dark-background{
  background-color: #2A2D34;
}

.header-bar {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 10;
}







