<div class="header-bar">
  <img class="padding-1" src="../../assets/primarylogo.svg" height="70"/>

  <!--  <mat-toolbar style="padding: 2em;">-->
  <!--    <span class="fill-remaining-space"></span>-->
  <!--    <div class="button-row jasmine-bar responsive-bar">-->
  <!--      <a class="toolbar-mat-button mat-button" mat-button href="#whoweare">WHO WE ARE</a>-->
  <!--      <a class="toolbar-mat-button mat-button" mat-button href="#whatwedo">WHAT WE DO</a>-->
  <!--      <button mat-button style="border: 1px solid white;"-->
  <!--              onclick="window.location.href='#contact'"-->
  <!--              class="toolbar-mat-button accent-background mat-button">CONTACT-->
  <!--      </button>-->
  <!--    </div>-->
  <!--  </mat-toolbar>-->
</div>

<br>
<br>
<br>

<div style="z-index: 0">
  <div class="white-background">
    <br>
    <br>
    <h1 id="whoweare">Who We Are</h1>
    <div class="flex-container align-start justify-content-center">
      <mat-card style="width: 15%; padding: 50px; min-width:115px;">
        <img mat-card-image src="../../assets/davidheadshot-01.png">
        <mat-card-title>David Nelson</mat-card-title>
        <mat-card-subtitle>Full Stack Developer<br>
          <button mat-icon-button><i *ngIf="openCloseDavid===true" class="accent material-icons"
                                     (click)="openCloseDavid=!openCloseDavid">expand_more</i>
            <i *ngIf="openCloseDavid===false" class="accent material-icons" (click)="openCloseDavid=!openCloseDavid">expand_less</i>
          </button>
        </mat-card-subtitle>
        <mat-card-content *ngIf="openCloseDavid===false">
          David is the software half of Cordelia. He brings with him 25 years of experience
          as a software engineer in the oil and gas industry where he founded Visual Mesa LLC.
          David’s favorite days are the ones were he can dive deep into coding uninterrupted,
          and he is always up to learn a new language or framework. Besides writing code, David
          enjoys white water rafting, talking Idaho politics, and embarrassing Kate.
          <br>
          <button mat-button><a href="https://www.linkedin.com/in/david-nelson-7317942a/" class="accent">LinkedIn</a>
          </button>
          <button mat-button><a href="../../assets/David%20Nelson%20Resume%202018.pdf" class="accent">Resume</a>
          </button>
          <!--<button mat-button><a href="mailto:david.nelson@cordelia.info/" class="accent">Email</a></button>-->
          <!--<button mat-button><a href="https://github.com/DavidNelsonCordelia" class="accent">Github</a></button>-->
        </mat-card-content>

      </mat-card>
      <mat-card style="width: 15%;padding: 50px; min-width:115px;">
        <img mat-card-image src="../../assets/kateheadshot-02.png">
        <mat-card-title>Kate Nelson</mat-card-title>
        <mat-card-subtitle>Designer + Front-end<br>
          <button mat-icon-button><i *ngIf="openCloseKate===true" class="accent material-icons"
                                     (click)="openCloseKate=!openCloseKate">expand_more</i>
            <i *ngIf="openCloseKate===false" class="accent material-icons" (click)="openCloseKate=!openCloseKate">expand_less</i>
          </button>
        </mat-card-subtitle>
        <mat-card-content *ngIf="openCloseKate===false">
          Kate is the design half of Cordelia. She holds a BA in graphic design with emphasis
          in user experience, although she also enjoys writing code on the front end. Kate sees
          design and development as two sides of the same coin; problem solving to build awesome stuff.
          In her spare time Kate is usually watching entirely too much TV, or out on a run.<br>
          <button mat-button><a href="https://www.linkedin.com/in/kate-nelson-a07a7a8b/" class="accent">LinkedIn</a>
          </button>
          <button mat-button><a href="../../assets/Kate%20Nelson%20Resume%202018.pdf" class="accent">Resume</a></button>
          <!--<button mat-button><a href="mailto:kate.nelson@cordelia.info/" class="accent">Email</a></button>-->
          <!--<button mat-button><a href="https://github.com/katenelson42" class="accent">Github</a></button>-->
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="light-background">
    <br>
    <h1 id="whatwedo">What We Do</h1>
    <!--<mat-divider></mat-divider>-->
    <div class="flex-container justify-content-center">
      <mat-card style="min-width:175px;width: 25%">
        <mat-card-title>Design</mat-card-title>
        <mat-card-content>
          <p>
            Our approach to design utilizes modern web standards to create responsive, user friendly web applications
            which functional smoothly across all devices. We are happy to integrate your brand, or help you create one.
            We then apply this style across your application using front-end frameworks such as Bootstrap or
            Angular Material.
            <br><br>
            Most importantly, we carefully consider every screen and interaction a user will see as they use your
            application. By applying user experience design best practices, we create an application that is attractive
            and usable,
            even for new users. </p>
        </mat-card-content>
      </mat-card>
      <mat-card style="min-width:175px;width: 25%">
        <mat-card-title>Angular</mat-card-title>
        <mat-card-content>
          <p>
            We have extensive experience developing web apps using Angular, Bootstrap, Angular Material and other
            modern tools. Our experience ranges from simple web sites to rich desktop client ports of enterprise
            applications to the browser.
            <br><br>
            Angular has great tooling and speed, allowing us to develop across multiple platforms in one development
            effort. Client API’s are easy to connect and data can be displayed in meaningful and effective ways.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card style="min-width:175px;width: 25%">
        <mat-card-title>Web Apps</mat-card-title>
        <mat-card-content>
          <p>In short, a web application is a computer program that is run through your web browser.
            Web applications combine the best of native applications or desktop software and websites,
            providing sophisticated applications with advanced functionality, that are easily accessible online.
            <br>
            <br>
            When responsive design is utilized, web applications are able to create a smooth, unified experience
            regardless of platform. Eliminating the need to create native applications or software means the
            application is accessed the same way across all devices, “flexing” to meet the needs of the current user.
            For example, your web app would be accessed through the browser of either an iPhone or Android device.
            There is no need to create an app for each platform.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="white-background" style="box-shadow: 1px 5px 10px rgba(0, 0, 0, .2)">
    <br>
    <h1 id="contact">Contact Us</h1>
    <!--<mat-divider></mat-divider>-->
    <div class="flex-container align-baseline justify-content-center">
      <mat-card style="width: 20%; min-width:155px">
        <mat-card-title>Find Us Online</mat-card-title>
        <mat-card-content>
          <a href="https://www.linkedin.com/company/cordelia-software-and-design/" class="accent">LinkedIn</a>
          <!--<br>-->
          <!--<a href="https://github.com/katenelson42" class="accent">Github</a>-->
        </mat-card-content>
      </mat-card>
      <mat-card style="width: 20%; min-width:155px">
        <mat-card-title>Reach Out</mat-card-title>
        <mat-card-content>
          <div style="display:flex; flex-direction: row">
            <i class="accent material-icons" style="padding-right:5px; width:25px">email</i>
            kate.nelson@cordelia.info<br>
            david.nelson@cordelia.info
          </div>
          <br>
          <div style="display:flex; flex-direction:row">
            <i class="accent material-icons" style="padding-right:5px; width:25px">place</i>
            Cordelia Software and Design, LLC <br>
            804 East E St.<br>
            Moscow, ID<br>
            83843
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="dark-background flex-container justify-content-center">
    <div class="padding-1 accent proxima-nova">
      <mat-icon style="font-size:1.75em; width: 100%;text-align: center;">copyright</mat-icon>
      <br>
      2019 Cordelia Software and Design, LLC
    </div>
  </div>
</div>
