

  <div style="position: fixed; width: 100%">
    <mat-toolbar>
      <mat-toolbar-row>
        <img src="src/assets/primarylogo.svg" height="50"/>
        <span class="example-fill-remaining-space"></span>
        <div class="button-row jasmine-bar">
          <a mat-button routerLink=".">Link 1</a>
          <a mat-button routerLink=".">Link 2</a>
          <a mat-button routerLink="." fragment="#anchor1">Link 3</a>
          <button mat-button color="primary">Primary</button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class="grid-container" style="z-index: 0">
    <br/>
    <br/>
    <br/>

    <h1> What we do</h1>

    <mat-divider></mat-divider>

    <h1> Who we are</h1>
    <mat-divider></mat-divider>

    <h1> Contact us</h1>
    <mat-divider></mat-divider>


  </div>
