@media only screen and (max-width: 597px) {
  .responsive-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .toolbar-mat-button {
    font-weight: bold;
    font-family: "freight-sans-pro", sans-serif !important;
    color: #2A2D34;
    font-size: 0.25em;
    line-height: 20px;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
}

.mat-button {
  font-weight: normal;
  font-family: "freight-sans-pro", sans-serif !important;
  color: #2A2D34;
  font-size: 1em;

}

.more-button {
  font-size: 2.5em;
}

mat-toolbar {
  background-color: transparent;
  padding: 40px;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
}

h1 {
  font-weight: 500;
  text-align: center;
  color: #2A2D34;
  letter-spacing: 2px;
  font-size: 3.2em;
}

mat-divider {
  border-top-color: rgba(42, 45, 52, 0.2);
}

mat-card {
  color: #2A2D34;
  background-color: transparent;
}

mat-card-title {
  font-size: 1.75em;
  color: #2A2D34;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

mat-card-subtitle {
  font-size: 1.5em;
  color: #2A2D34;
  text-align: center;
}

mat-card-content {
  font-size: 1.25em;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0px 0px 0px 0px transparent;
}

.accent {
  color: #addab8
}

.header-bar {
  background-color: #2A2D34;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, .2)
}

.proxima-nova {
  font-family: proxima-nova, sans-serif;
}

.freight-sans {
  font-family: "freight-sans-pro", sans-serif !important;
}

.headshot {
  display: block;
  margin: auto;
  max-width: 60%;
  height: auto;
}

a:hover{
  color: rgba(173, 218, 184, 0.75);
}







