.fancy-header {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 2.75em;
  color: #006834;
  text-align: center;
  padding-left: 2.5em;
  padding-right: 2.5em;
  font-family: freight-sans-pro, sans-serif;
}

@media (max-width: 420px) {
  .fancy-header {
    letter-spacing: 0.1em;
    font-size: 1.5em;
  }
}

h1 {
  font-size: 2.5em;
  color: rgba(42, 45, 52, 1);
  font-variant: small-caps;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  font-family: freight-sans-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h2 {
  max-width: 65vw;
  text-align: center;
  color: rgba(42, 45, 52, 0.85);
  font-weight: 400;
  font-size: 1.4em;
}

.mat-card-title {
  font-family: freight-sans-pro, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.75em;
  /*line-height: 1.3em;*/
  text-align: center;
  color: rgba(42, 45, 52, 1);
}

.mat-card-content {
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25em;
  letter-spacing: 0px;
  line-height: 1.5em;
  color: rgba(42, 45, 52, 1);
}

.wrapper {
  font-family: freight-sans-pro, sans-serif;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0px 0px 0px 0px transparent;
}

.image {
  width: 95%;
  /*height: auto;*/
  padding-top: 2em;
  /*display: block;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
}

a {
  text-decoration: none;
  color: rgba(42, 45, 52, 1);
}

.reverse-text {
  color: rgba(255, 255, 255, 1) !important;
}

.reverse-text:hover {
  color: rgba(255, 255, 255, 1) !important;
}

a:hover {
  font-weight: bold;
}

.green-background {
  background-color: #006834;
  color: #EAEBEC;
}

.accent {
  color: #006834;
}

.big-icon {
  color: #006834;
}
